<head>
	<link href="http://gmpg.org/xfn/11" rel="profile">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="canonical" href="http://blog.jedd-ahyoung.com">

	<!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>
	{% if page.title == "Home" %}
	  {{ site.title }} &middot; {{ site.tagline }}
	{% else %}
	  {{ page.title }} &middot; {{ site.title }}
	{% endif %}
	</title>

	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css" />
	<link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css" />

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,300,500' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css' />

	<!-- Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png" />
	<link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico" />

	<!-- RSS -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}atom.xml" />

	<!-- Redirection script, since gh-pages doesn't support this. -->
	<script type="text/javascript">
		if (window.location.host === 'jedd-ahyoung.github.com') {
			window.location.href = 'http://blog.jedd-ahyoung.com{{ page.url }}';
		}
	</script>
</head>
