// Masthead
//
// Super small header above the content for site name and short description.

.masthead-wrapper {
  padding-bottom: 3rem;
  background-color: $darker;
}

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background: black;
}

.masthead-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;

  a {
    color: #fff;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #a0a0a0;
    letter-spacing: 0;
  }
}
