<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <div class="body">
      <div class="masthead-wrapper">
        <div class="masthead">
          <div class="container">
            <h3 class="masthead-title">
              <a href="{{ '/' | relative_url }}" title="Home">{{ site.title }}</a>
              {% if site.localenvironment == true %}
              <span style="color: red;">DEVELOPMENT</span>
              {% endif %}
              <small>{{ site.tagline }}</small>
            </h3>
          </div>
        </div>
      </div>
      {{ content }}
      <div class="push"></div>
    </div>

    <div class="footer">
      <div class="container">
        <div class="column on-3 span-2">
          <strong>{{site.title}}</strong> is a blog for the average joe programmer - just the guy or girl who's trying to come up. Everyone makes mistakes; this blog is intended to celebrate the learning process.
        </div><div class="column on-3">
          <p class="copyright">
            &copy; J.W. Ahyoung, {{ site.time | date: '%Y' }}.
            <br />
            All rights reserved.
          </p>
          <img class="logo" src="/images/logo.svg" />
        </div>
      </div>
    </div>

  </body>
</html>
